<div class="editor">
  <div class="row">
    <div class="source-tree col-sm-2">
      <ngb-tabset justify="center" class="tree-type-picker">
        <ngb-tab>
          <ng-template ngbTabTitle><fa-icon [icon]="faSlidersH"></fa-icon></ng-template>
          <ng-template ngbTabContent>
            <div class="list-group justify-content-center">
              <a *ngFor="let code of codeService.configurationCodes"
                 (click)="codeService.currentConfigurationCode = code"
                 class="list-group-item list-group-item-action list-group-item-dark">{{ code.filename }}</a>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><fa-icon [icon]="faToolbox"></fa-icon></ng-template>
          <ng-template ngbTabContent>
            <div class="draggables">
              <app-draggable draggableName="if-statement" draggableTitle="if"></app-draggable>
              <app-draggable draggableName="else-statement" draggableTitle="else"></app-draggable>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><fa-icon [icon]="faFile"></fa-icon></ng-template>
          <ng-template ngbTabContent>
            <div class="list-group">
              <a *ngFor="let code of codeService.translatedCodes"
                 (click)="codeService.currentTranslatedCode = code"
                 class="list-group-item list-group-item-action list-group-item-dark">{{ code.filename }}</a>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="source-view col-sm-10">
      <div class="configuration-file">
        <app-rules-constructor class="app-rules-constructor"></app-rules-constructor>
      </div>
      <div class="translated-file">
        <ngx-codemirror [options]="codeService.getCurrentTranslatedCodeConfig()"
                    [(ngModel)]="codeService.currentTranslatedCode.srcs[0].code"></ngx-codemirror>
      </div>
    </div>
  </div>
</div>
