@import "~bootstrap/scss/functions";
@import "../../variables";

$bg-dark: theme-color("dark");

.editor, .editor > .row,
.source-view, .source-tree {
  height: 100%;
}

.source-tree {
  background-color: lighten($bg-dark, 2);
  color: $secondary;
}

.source-view {
  color: $secondary;
  background-color: lighten($bg-dark, 1);
}

.configuration-file, .translated-file {
  overflow: auto;
}

.configuration-file {
  height: 35%;
  border-bottom: 1px solid $bg-dark;
}

.translated-file {
  height: 65%;
  border-top: 1px solid $bg-dark;
}
