@import "~bootstrap/scss/functions";
@import "../../variables";

.editor > .row,
.source-view, .source-tree {
  height: 100%;
}

.editor > .row {
  margin: 0;
}

.source-tree {
  //background-color: lighten($bg-dark, 2);
  //color: $secondary;
  padding: 0;
}

.source-view {
  color: $secondary;
  //background-color: lighten($bg-dark, 1);
  margin: 0;
  padding: 0;
}

.configuration-file, .translated-file {
  overflow: auto;
}

.configuration-file {
  height: 65%;
  box-shadow: 2px 5px 10px 1px #1d1d1d;
  //border-bottom: 1px solid $bg-dark;
}

.translated-file {
  height: 35%;
  box-shadow: 4px 1px 15px 1px #1d1d1d;
  //border-top: 1px solid $bg-dark;
}

.draggables {
  text-align: center;
}

app-draggable {
  height: auto;
  width: auto;
  display: inline-block;
}

.file-code-list {
  overflow-y: auto;

  .list-group-item {
    padding: 1px;
  }
}
